input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;

  &:focus {
    border-color: #5b08a7;
  }

  &[type="file"] {
    width: 80%;
    margin-right: 10px;
  }
}

select {
  font-size: 14px;
  margin: 0 0 15px;
  padding: 15px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  color: #333;

  &focus {
    outline: none;
    box-shadow: 0 0 5px #ccc;
  }
}
